# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BlazorChess.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\caina\source\repos\BlazorChess\.idea\.idea.BlazorChess\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
