html, body {
    background-color: #0c0d0d;
    color: white;
}

.chessboard {
    --cell-size: 5rem;
    display: grid;
    grid-template-columns: repeat(8, var(--cell-size));
    grid-auto-rows: var(--cell-size);
    border: solid 1px darkgrey;
    width: min-content;
}
.chessboard-cell {
    color: black;
    font-size: calc(var(--cell-size) - 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
.chessboard-sidebar {
    margin: 0 0 0 1rem !important;
    padding: 1rem !important;
}

.board-flex-container {
    display: flex;
}

@media (max-width: 1023px) {
    .board-flex-container {
        flex-direction: column;
    }
    .chessboard-sidebar {
        margin: 1rem 0 0 0 !important;
    }
}

.webassembly-placeholder {
    text-align: center;
}
.webassembly-placeholder.main{
    padding-top: calc(50vh - 3rem);
    font-size: 3rem;
}

.webassembly-placeholder .ui.loader {
    font-size: .6em;
}

#blazor-error-ui {
    color: black;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
