@inherits LayoutComponentBase

<div class="main">
	<nav class="ui fluid inverted menu">
		<div class="ui container">
			<div class="item header">Blazor Chess</div>
		</div>
	</nav>

	<div class="ui container" style="margin-bottom: 3rem">
		@Body
	</div>
</div>